node_modules/
.next/
*.log
.npm-debug.log*
yarn.lock
package-lock.json
.bun
bun.lock

*.exe
*.test
*.out

docker-compose.yml
*.pid

.env
.env.*
lxdb_backend/.env
lxdb_frontend/.env.local
lxdb_frontend/.env.docker

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

lxdb_backend/internal/parsers/
lxdb_backend/cmd/parsers/

